doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title #{appName}
    link(rel='stylesheet', href=style)
    script(src='react.min.js')
    script(src='react-dom.min.js')
    script(src=app)
  body
    #app
    script(type='text/javascript').
      ReactDOM.render(
        React.createElement(#{varName}.default),
        document.getElementById('app')
      );
